# SPDX-License-Identifier: Apache-2.0
# Copyright 2024 Intel Corporation
name: Docker image

on:
  push:
    branches:
      - master
    tags:
      - v*

env:
  REGISTRY: registry.aetherproject.org
  DOCKER_REGISTRY: registry.aetherproject.org/
  DOCKER_REPOSITORY: sdcore/

jobs:
  push-images:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'

      - run: echo GIT_SHA_SHORT=$(git rev-parse --short HEAD) >> $GITHUB_ENV

      - id: docker-login
        uses: docker/login-action@v3.0.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.AETHER_REGISTRY_USERNAME }}
          password: ${{ secrets.AETHER_REGISTRY_PASSWORD }}

      - name: Build and push "master-latest" Docker image
        env:
          DOCKER_TAG: master-latest
        run: |
          make docker-build
          make docker-push

      - name: Build and push "master-GIT_SHA" Docker image
        env:
          DOCKER_TAG: master-${{ env.GIT_SHA_SHORT }}
        run: |
          make docker-build
          make docker-push
