# SPDX-License-Identifier: Apache-2.0
# Copyright 2024 Intel Corporation
# Copyright 2025 Canonical Ltd.
on:
  schedule:
    - cron: "0 0 * * *"

permissions:
  issues: write
  pull-requests: write
  contents: read

jobs:
  stale:
    permissions:
      issues: write
      pull-requests: write
      contents: read
      actions: read
    uses: omec-project/.github/.github/workflows/stale-issue.yml@51ae978019876921b048bc5b445dd6906f94514a # v0.0.13
    with:
      days_before_stale: 120
      days_before_close: 15
    secrets: inherit
